<%- include("../admin/partials/header") %>

<div class="container">

    <div class="topo">
        <h2>Clientes</h2>
        <a href="/admin/clientes/cadastrar">Adicionar Novo</a>
    </div>

    <div class="area-tabela">

        <table class="content-table">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Situação Usuário</th>
                    <th>Ações</th>
                </tr>

            </thead>

            <tbody>

                <% for(let cliente of clientes) { %>

                    <tr>
                        <td><%= cliente.id %></td>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.email %></td>
                        <td><%= cliente.telefone %></td>
                        <td><%= cliente.situacao_usuario %></td>
                        <td>
                            <a href="/admin/clientes/visualizar/<%= cliente.id %>" class="button-editar">Visualizar</a>
                            <br>
                            <a href="/admin/clientes/excluir/<%= cliente.id %>" class="button-excluir">Excluir</a>
                        </td>
                    </tr>

                <% } %>

            </tbody>

        </table>

    </div>

</div>