<%- include('../admin/partials/header') %>

<div class="container">

    <h1> Clientes </h1>

    <div>
        <h3><a href="/clientes/cadastrar">Adicionar Novo Cliente</a></h3>
    </div>

    <div class="tabela-clientes">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Situação Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <% for (let cliente in clientes) { %>

                    <tr>
                        <td><%= cliente.id %></td>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.telefone %></td>
                        <td><%= cliente.email %></td>
                        <td><%= cliente.situacao_usuario %></td>
                        <td>
                            <a href="/admin/clientes/visualizar<%= cliente.id %>"><img src="../public/images/icons/visualizar.png" alt=""></a>
                            <a href="/admin/clientes/editar<%= cliente.id %>"><img src="../public/images/icons/editar.png" alt=""></a>
                        </td>
                    </tr>

                <% } %>

            </tbody>

        </table>

    </div>

</div>