<%- include("../admin/partials/header") %>

<div class="container">

    <div class="topo">
        <h2>Clientes</h2>
        <a href="/admin/clientes/cadastrar">Adicionar Novo</a>
    </div>

    <div class="area-tabela">

        <table class="content-table">

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Situação Usuário</th>
                    <th>Ações</th>
                </tr>

            </thead>

            <tbody>

                <% for (let usuario in listaUsuarios) { %>

                    <tr>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.telefone %></td>
                        <td><%= usuario.email %></td>
                        <td><%= usuario.statusUsuario %></td>
                        <td>
                            <a href="/admin/clientes/visualizar<%= usuario.id %>">Visualizar</a>
                            <a href="/admin/clientes/editar<%= usuario.id %>">Editar</a>
                        </td>
                    </tr>

                <% } %>

            </tbody>

        </table>

    </div>

</div>