<%- include("../admin/partials/header") %>

<div class="container">

    <div class="topo">
        <h2>Vendas</h2>
        <a href="/admin/vendas/cadastrar">Adicionar Novo</a>
    </div>

    <div class="area-tabela">

        <table>

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Geração</th>
                    <th>Cor</th>
                    <th>Valor</th>
                    <th>Estoque</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>

            </thead>

            <tbody>

                <% for(let venda of vendas) { %>

                    <tr>
                        <td><%= venda.id %></td>
                        <td><%= venda.nome %></td>
                        <td><%= venda.geracao %></td>
                        <td><%= venda.cor %></td>
                        <td><%= venda.valor %></td>
                        <td><%= venda.estoque %></td>
                        <td><%= venda.descricao %></td>
                        <td>
                            <a href="/admin/vendas/editar/<%= venda.id %>">Editar</a>
                            <a href="/admin/vendas/excluir/<%= venda.id %>">Excluir</a>
                        </td>
                    </tr>

                <% } %>

            </tbody>

        </table>

    </div>

</div>