<%- include('./partials/head') %>

<div class="caixa-cadastro">

  <h3>Faça seu cadastro</h3>
<form method="POST" action="/acaoCadastrar" enctype="multipart/form-data">

      <div class="acesso-nome">
      <label> Nome: </label>
      <input type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>">
      <% if(locals.errors && errors.name){ %>  
        <div class="danger"><%= errors.name.msg %>
        </div>
      <% } %>
      </div>

    <div class="acesso-email">
    <label> Email: </label>
    <input type="text" name="email" value="<%= locals.oldData ? oldData.name : null %>">
    <% if(locals.errors && errors.email){ %>  
      <div class="danger"><%= errors.email.msg %>
      </div>
    <% } %>
    </div>

    <div class="acesso-senha">
    <label> Senha: </label>
    <input type="password" name="psw">
    <% if(locals.errors && errors.psw){ %>  
      <div class="danger"><%= errors.psw.msg %>
      </div>
    <% } %>
    </div>

    <div class="acesso-avatar">
      <label> Foto: </label>
      <input type="file" name="avatar">
      <% if(locals.errors && errors.avatar){ %>  
        <div class="danger"><%= errors.avatar.msg %>
        </div>
      <% } %>
    </div>

  <div class="botao-acesso">
  <button class="finalizar-cadastro">Cadastrar</button>
  </div>



</form>
</div>
</div>


<%- include('./partials/footer') %>