<%- include('./admin/partials/header') %>

<div class="container">

    <h1> Clientes </h1>

    <div>
        <h3><a href="/clientes/cadastrar">Adicionar Novo Cliente</a></h3>
    </div>

    <div class="tabela-clientes">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Situação Usuário</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <% for (let usuario in listaUsuarios) { %>

                    <tr>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.telefone %></td>
                        <td><%= usuario.email %></td>
                        <td><%= usuario.statusUsuario %></td>
                        <td>
                            <a href="/admin/clientes/visualizar<%= usuario.id %>">Visualizar</a>
                            <a href="/admin/clientes/editar<%= usuario.id %>">Editar</a>
                        </td>
                    </tr>

                <% } %>

            </tbody>

        </table>

    </div>

</div>