<%- include('./partials/head') %>

<body>

    <container class="area-pagina">
        <section class="lado-esquerdo">
            <h2>
               <b> <%= produto.name %> </b>
            </h2>
            <p>
               <b> <%= produto.cor %> </b>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sunt nihil delectus culpa, pariatur quaerat numquam sint, dicta, sapiente consequatur ipsa totam reprehenderit tempora deserunt maiores sit dolorum. Atque, hic?
            </p>
             
            <h3 class="valor">
                Valor total R$ <%= produto.preco %>
            </h3>
            <p>
                Ou em 5 vezes de R$ 00,00
            </p>
        </section>

        <section class="lado-direito">
                <img class="foto-principal" src="/images/<%= produto.img %>" alt="" width="50%" height="50%">
            <section class="fotos-secundaria-fone">
                <img src="/images/<%= produto.img %>" alt="" width="20%" height="20%">
                <img src="/images/<%= produto.img %>" alt="" width="20%" height="20%">
                <img src="/images/<%= produto.img %>" alt="" width="20%" height="20%">
                <img src="/images/<%= produto.img %>" alt="" width="20%" height="20%">
            </section>
        </section>

        

    </container>
    <button class="finalizar">
        <a href="/views/carrinho.ejs"> Finalizar Compra </a>
    </button>

</body>

<%- include('./partials/footer') %>