<%- include('./admin/partials/header') %>

<div class="container">

    <div>
        <h1>Produtos</h1>
    </div>

    <div>
        <h3><a href="/produtos/cadastrar">Adicionar Novo Produto</a></h3>
    </div>

    <div class="tabela-produtos">

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagem</th>
                    <th>Nome do Produto</th>
                    <th>Geração</th>
                    <th>Cor</th>
                    <th>Valor</th>
                    <th>Quantidade em Estoque</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                
                <% for (let produto in produtos) { %>

                    <tr>
                        <td><%= produto.id %></td>
                        <td><%= produto.imagem %></td>
                        <td><%= produto.nome %></td>
                        <td><%= produto.geracao %></td>
                        <td><%= produto.cor %></td>
                        <td><%= produto.valor %></td>
                        <td><%= produto.qtdEstoque %></td>
                        <td>
                            <a href="/admin/produtos/editar<%= produto.id %>">Editar</a>
                            <a href="/admin/produtos/excluir<%= produto.id %>">Excluir</a>
                        </td>
                    </tr>

                <% } %>
                
            </tbody>

        </table>

    </div>

</div>