<%- include('./admin/partials/header') %>

<div class="container">

    <h1>Vendas</h1>

    <div>
        <h3><a href="/vendas/cadastrar">Adicionar Nova venda</a></h3>
    </div>

<div class="tabela-vendas">

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Status</th>
                <th>Data de Compra</th>
                <th>Ultima Modificação</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <% for (let venda in vendas) { %>

                <tr>
                    <td><%= venda.id %></td>
                    <td><%= venda.cliente %></td>
                    <td><%= venda.status %></td>
                    <td><%= venda.dataCompra %></td>
                    <td><%= venda.dataModificacao %></td>
                    <td>
                        <a href="/admin/vendas/visualizar"><img src="../public/images/icons/visualizar.png" alt=""></a>
                        <a href="/admin/vendas/editar"><img src="../public/images/icons/editar.png" alt=""></a>
                    </td>
                </tr>

            <% } %>

        </tbody>

    </table>

</div>

</div>